/********/
/*HEADER*/
/********/
.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 40px;
}

.App-header {
  padding: 10px;
  background-color: #433633;
  color: white;
}


/******/
/*BODY*/
/******/
.App-body {
  font-size: large;
  padding: 20px;
}

.App-input-board-container{
  margin-bottom:20px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
