.main-navigation {
  background-color: #433633;
  border: 0;
  border-radius: 0; }
.main-navigation div:first-child {
  max-width: 960px; }
.main-navigation .navbar-brand {
  padding-top: 10px; }
.main-navigation .navbar-brand img {
  margin-right: 10px; }
.main-navigation a,
.main-navigation .navbar-right li>a,
.main-navigation .external-nav-link a {
  color: #f7f0f5;
  transition: color ease-in-out .2s; }
.main-navigation a:hover,
.main-navigation .navbar-right li>a:hover,
.main-navigation .external-nav-link a:hover  {
  color: #decbb7;
  transition: color ease-in-out .2s; }